In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import warnings
warnings.filterwarnings('ignore')

In [26]:
claimants_data=pd.read_csv('D:\Sandesh\Data Science\Class Assignment\Codes\Regression , Clustering\Logistic regression\claimants.csv')
claimants_data.head()

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        5         0     0.0       1.0       0.0    50.0  34.940
1        3         1     1.0       0.0       0.0    18.0   0.891
2       66         1     0.0       1.0       0.0     5.0   0.330
3       70         0     0.0       1.0       1.0    31.0   0.037
4       96         1     0.0       1.0       0.0    30.0   0.038

## Data Understanding and Preprocessing

In [27]:
claimants_data.isnull().sum()

CASENUM       0
ATTORNEY      0
CLMSEX       12
CLMINSUR     41
SEATBELT     48
CLMAGE      189
LOSS          0
dtype: int64

In [28]:
claimants_data.dtypes

CASENUM       int64
ATTORNEY      int64
CLMSEX      float64
CLMINSUR    float64
SEATBELT    float64
CLMAGE      float64
LOSS        float64
dtype: object

In [29]:
claimants_data.shape

(1340, 7)

In [30]:
claimants_data.dropna(inplace=True)

In [31]:
claimants_data.isnull().sum()

CASENUM     0
ATTORNEY    0
CLMSEX      0
CLMINSUR    0
SEATBELT    0
CLMAGE      0
LOSS        0
dtype: int64

In [32]:
del claimants_data['CASENUM']

In [33]:
claimants_data.shape

(1096, 6)

## Model Building

In [34]:
X=claimants_data.drop('ATTORNEY',axis=1)
y=claimants_data[['ATTORNEY']]

## Model Validation Techniques

### 1. Train-Test Split

In [35]:

# Random state is used so that we will get the same random sample 
# every time we execute the code so that accuracy should not change.

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=10,shuffle=True)

In [36]:
X_train

      CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
897      1.0       1.0       0.0    70.0  17.404
1329     1.0       1.0       0.0    33.0   0.535
1052     1.0       1.0       0.0    11.0   4.035
936      1.0       1.0       0.0    34.0   0.404
329      1.0       1.0       0.0     6.0   5.049
...      ...       ...       ...     ...     ...
599      1.0       1.0       0.0    37.0  63.361
309      0.0       1.0       0.0    35.0   9.061
1260     0.0       1.0       0.0     0.0   0.440
901      1.0       1.0       0.0     9.0   0.405
643      1.0       1.0       0.0    10.0   0.041

[876 rows x 5 columns]

### 2.K-Fold Cross validation

In [37]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
log_reg=LogisticRegression()
log_reg.fit(X_train,y_train)
y_predict=log_reg.predict(X_test)
accuracy_score(y_test,y_predict)

0.7227272727272728

In [46]:
from sklearn.model_selection import KFold,cross_val_score

n_fold=KFold(n_splits=5,shuffle=True,random_state=42)
cv_scores = cross_val_score(estimator=log_reg,X=X,y=y,cv=n_fold)
print(cv_scores)
print(np.mean(cv_scores))
print(cv_scores.std())

[0.67727273 0.71689498 0.71232877 0.69406393 0.73059361]
0.706230801162308
0.01860676776699396

### 3.  Leave One Out Cross Validation

In [49]:
from sklearn.model_selection import LeaveOneOut

loocv=LeaveOneOut()

cv_scores=cross_val_score(estimator=log_reg,X=X,y=y,cv=loocv)
print(cv_scores)
print(cv_scores.mean())
print(cv_scores.std())

[1. 1. 1. ... 1. 1. 1.]
0.7025547445255474
0.4571340891578643

### THE END